
@{
    ViewBag.Title = "SalesIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Sales</h4>

<div class="form-button menu-w">
    @Html.ActionLink("Sales Invoice", "PendingSalesInvoice")
</div>

<div class="form-button menu-w">
    @Html.ActionLink("Delivery Challan", "PendingDeliveryChallan")
</div>

<h4>Report</h4>

<div class="form-button menu-w">
    @Html.ActionLink("Production Order Report", "ProductionOrderReport")
</div>
<div class="form-button menu-w">
    @Html.ActionLink("Stock Requirement Report", "StockRequirementReport")
</div>
<div class="form-button menu-w">
    @Html.ActionLink("Material Planning Report", "MaterialPlanningReport")
</div>
<div class="form-button menu-w fs">
    @Html.ActionLink("Production Plan to Material Planning Report", "ProductionPlanMPR")
</div>
<div class="form-button menu-w fs">
    @Html.ActionLink("Stock Order to Material Planning Report", "StockOrderMPR")
</div>
<div class="form-button menu-w fs">
    @Html.ActionLink("Customer Order to Material Planning Report", "CustomerOrderMPR")
</div>
<div class="form-button menu-w fs">
    @Html.ActionLink("Production Schedule to Material Planning Report", "ProductionScheduleMPR")
</div>
