
@{
   // ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="body">

    <div class="container">
 
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-5">
                    </div>
                <div class="col-md-7">
                    <div class="col-md-4 module">
                        <a href="@Url.Action("AdminIndex","ProductionPlan")"><img src="~/Images/admin1.png" /></a>
                    </div>
                    <div class="col-md-4 module">
                        <a href="@Url.Action("ProductionIndex", "ProductionPlan")"><img src="~/Images/production.png" /></a>
                    </div>
                    <div class="col-md-4 module">
                        <a href="@Url.Action("PurchaseIndex","ProductionPlan")"><img src="~/Images/Purchase.png" /></a>
                    </div>
                    <div class="col-md-4 module">
                        <a href="@Url.Action("SalesIndex","ProductionPlan")"><img src="~/Images/Sales.png" /></a>
                    </div>
                    <div class="col-md-4 module">
                        <a href="@Url.Action("FinancialIndex","ProductionPlan")"><img src="~/Images/fa.png" /></a>
                    </div>
                    <div class="col-md-4 module">
                        <a href="@Url.Action("HRMSIndex","ProductionPlan")"><img src="~/Images/hrms.png" /></a>
                    </div>
                    </div>
                </div>
        </div>

    </div>


</body>